


<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<footer class= "mx-auto w-1/2 h-1/2">
  <%= form_with url: sessions_path do |form| %>
  <%= form.email_field :email_address, required: true, autofocus: true, 
  autocomplete: "username", placeholder: "Email address", 
  value: params[:email_address], maxlength: 30 %><br>
  <%= form.password_field :password, 
  required: true, autocomplete: "current-password", 
  placeholder: "Password", maxlength: 30 %>
  <div class= "font-bold">
    <%= form.submit "Sign in" %>
    <% end %><br>
    <%= link_to "Forgot password?", new_password_path %>
  </div>
</footer>