
<div>
Welcome <%= @user.email_address %>  
<div><%= link_to "Picture Gallery", user_path, class: "text-red-500" %></div>

<% @user.pics.each do |image| %>
<%= image_tag (image) %>
<% end %>

<%= form_with model: @user do |user_form| %>
  <%= fields_for :pic, @user.pics do |pic_form|%>
  <%= pic_form.file_field :featured_image, accept: "/image/*" %>
  <%= pic_form.submit "Save pic" %>
  <% end %>
<% end %>

<%= link_to "Edit", user_path, class: "text-blue" %>

<%= link_to "Add", user_path, class: "text-blue" %>

<%= link_to "Delete", 
@pic, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<div>update a new pic here</div>

<%= button_to "Log out", home_index_path, method: :get if authenticated? %>
</div>