<div>
  Welcome <%= @user.email_address %>
  
  <div><%= link_to "Picture Gallery", pics_path, class: "text-red-500" %></div>
  <div><%= link_to "Add new Pic", new_pic_path, class: "text-blue" %></div>
  <%= link_to "Delete a Pic", 
  @pic, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
  <div>update a new pic here</div>

  <%= button_to "Log out", session_path, method: :delete if authenticated? %>
</div>