

<%= form_with model: @pic do |form| %>
  <div>
    <%= form.label :featured_image, style: "display: block" %>
    <%= form.file_field :featured_image, accept: "image/*" %>
  </div>
  <div>
      <%= form.submit %>
  </div>
<% end %>

<%# <%= link_to "Back", user_path(session[:id]) if session[:id].present? %> %>
<%= link_to "Back", pics_path %>